version: '3.8'

services:
  db:
    image: postgres:14-alpine
    container_name: simplec2-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=xz8HGV0#B5^!*# # 请务必修改此密码
      - POSTGRES_DB=simplec2
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
